#services{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  margin-top: 3.25rem;
  position:relative;
  padding-top:100px;
  padding-bottom:200px;
  background-color: var(--color-white); 
}
#services h3{
  text-align: center;
  color: #125488;
  font-size: 1.3rem;
  font-weight: 450;
  line-height: 2;
  margin-bottom: 30px;
}

#services h4{
  margin-bottom:3rem;
  font-size: 1.5rem;
  color: #023358;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card-wrap {
  position: relative;
}
.card-wrap::before, .card-wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border: 5px solid #023358;
  transition: all 0.4s ease-out;
}
.card-wrap::before {
  background-color: #023358;
  top: -5px;
  left: -1px;
}
.card-wrap::after {
  bottom: -15px;
  right: -15px;
  z-index: -500;
}
.card-wrap:hover::before {
  top: 15px;
  left: 15px;
  
}
.card-wrap:hover::after {
  bottom: 15px;
  right: 15px;
}
.sub-services {
  position:relative;
  z-index: 1;
  padding-top:100px;
  padding-bottom:200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 0 auto;
  gap: 9rem;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 2;
  height: 20rem;
  
}
@media (max-width:767px){
  .sub-services{
    grid-template-columns: 1fr;
    gap:3rem;
    height: 80rem;
  }
  
}
.sub-services h2{
  color: #fff;
  font-size: 1.2rem;
  padding-left: 10rem;
  padding-top: 3rem;
  margin-top: -0.3rem;
}
.sub-services h6{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75em;
  padding-top: 1rem;
  
  font-weight: 400;
  padding-left: 4rem;
  padding-right: 4rem;
  color: #fff;
}
.sub-services li {
  color: #fff;
  margin: 0 0 0.5rem 0;
  padding-left: 2.8rem;
  padding-right: 1rem;
  padding-top: 1.2rem;
  counter-increment: my-awesome-counter;
  position: relative;
}
.sub-services a{
    background-color: #024375;
   
    border-radius: 0.75rem;
    transition: ease 0.3s;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #125488;
}
.sub-services a:hover li{
color: #ED6239;
transition: ease 0.3s;

}
.sub-services a:hover{
  transform: translateX(-20px);
transition: ease-in 0.3s;

  
    }
.sub-services li::before {
  content: counter(my-awesome-counter);
  color: #ED6239;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) -6rem);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 4.5rem;
  transform: rotate(-10deg);
  background: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #ED6239;
}