#services{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  position:relative;
  padding-top:100px;
  padding-bottom:100px;
  background-color: var(--color-white); 
  margin: 0 auto;
}
#services h3{
  text-align: center;
  color: #125488;
  font-size: 1.3rem;
  font-weight: 450;
  line-height: 2;
  margin-bottom: 30px;
}

#services h4{
  margin-bottom:3rem;
  font-size: 1.5rem;
  color: #023358;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card-wrap {
  position: relative;
  margin: 0 auto;
}
.card-wrap::before, .card-wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border: 5px solid #023358;
  transition: all 0.4s ease-out;
}
.card-wrap::before {
  background-color: #023358;
  top: -15px;
  left: -15px;
}
.card-wrap::after {
  bottom: -15px;
  right: -15px;
  z-index: -500;
}
.card-wrap:hover::before {
  top: 15px;
  left: 15px;
  
}
.card-wrap:hover::after {
  bottom: 15px;
  right: 15px;
}
.sub-services {
  position:relative;
  z-index: 1;
  padding-top:100px;
  padding-bottom:1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 0 auto;
  gap:  5rem 15rem;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 12rem;
  padding-right: 12rem;
  line-height: 2;
}
.sub-services h2{
  color: #fff;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
  
}
.sub-services h6{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75em;
  padding-top: 0rem;
  padding-bottom: 2rem;
  font-weight: 400;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #fff;
}
.sub-services li {
  color: #fff;
  margin: 0 0 0.5rem 0;
  padding-left: 2.8rem;
  padding-right: 1rem;
  padding-top: 1.2rem;
  counter-increment: my-awesome-counter;
  position: relative;
}
.sub-services a{
    background-color: #024375;
   
    border-radius: 0.75rem;
    transition: ease 0.3s;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #125488;
}
.sub-services a:hover li{
color: #ED6239;
transition: ease 0.3s;

}
.sub-services a:hover{
  transform: translateX(-20px);
transition: ease-in 0.3s;

  
    }
.sub-services li::before {
  content: counter(my-awesome-counter);
  color: #ED6239;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  margin: 0 auto;
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  transform: rotate(-10deg);
  background: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #ED6239;
}
@media (max-width: 991px){
  #services{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .sub-services{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-left: 12rem;
    padding-right: 12rem;
    gap: 5rem;
  }
  .sub-services h2{
    color: #fff;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
  }
  .sub-services {
    position:relative;
    z-index: 1;
    padding-top:100px;
    padding-bottom:1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
    gap:  5rem 10rem;
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 2;
  }
  
  .sub-services li::before {
    display: none;
    content: counter(my-awesome-counter);
    color: #ED6239;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    margin: 0 auto;
    bottom: -1rem;
    
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    transform: rotate(-10deg);
    background: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #ED6239;
  }
  }
    


@media (max-width: 767px){
.sub-services{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  padding-left: 7rem;
  padding-right: 7rem;
  gap: 5rem;
}
.sub-services h2{
  color: #fff;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
}
.sub-services {
  position:relative;
  z-index: 1;
  padding-top:100px;
  padding-bottom:1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin: 0 auto;
  gap:  5rem 5rem;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 2;
}

.sub-services li::before {
  display: none;
  content: counter(my-awesome-counter);
  color: #ED6239;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  margin: 0 auto;
  bottom: -1rem;
  
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  transform: rotate(-10deg);
  background: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #ED6239;
}
}
@media (max-width:475px){
  .sub-services{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-left: 7rem;
    padding-right: 7rem;
    gap: 5rem;
  }
  .sub-services h2{
    color: #fff;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
  }
  .sub-services {
    position:relative;
    z-index: 1;
    padding-top:100px;
    padding-bottom:1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 0 auto;
    gap:  5rem 5rem;
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 0rem;
    padding-right: 0rem;
    line-height: 2;
  }
  
  .sub-services li::before {
    display: none;
    content: counter(my-awesome-counter);
    color: #ED6239;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    margin: 0 auto;
    bottom: -1rem;
    
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    transform: rotate(-10deg);
    background: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #ED6239;
  }
  #services h3{
    text-align: center;
    color: #125488;
    font-size: 1rem;
    font-weight: 450;
    line-height: 2;
    margin-bottom: 30px;
  }
  
  #services h4{
    margin-bottom:1rem;
    font-size: 1rem;
    font-weight: 550;
    color: #023358;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .sub-services h2{
    color: #fff;
    font-size: 1rem;
    font-weight: 550;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
    
  }
  .sub-services h6{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.75em;
    padding-top: 0rem;
    padding-bottom: 2rem;
    font-weight: 300;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #fff;
  }
}
